<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright   ©2017 Rails107
    <br>Design <body>
      <a href="http://courses.growthcshool.com/courses/rails-107/" target=_new>wenming</a>
    </p>
  </footer>
  
